<%= render "welcome/fakeQuotationHeader"  %>
<section class="quotationPage">
   <div class="preloader"></div>
    <div class="barline"></div>
    <div class="address">
        <h2 class="companyName"><%= @fake_quotation.companyName.html_safe  %><span class="serviceTax"><%= @fake_quotation.serviceTax.html_safe  %></span></h2>
        <h4 class="companyNameTagline" ><%= @fake_quotation.companyTagLine.html_safe  %><span class="phoneNumbers"><%= @fake_quotation.headerMobileNumber.html_safe  %></span></h4>
        <h4 class="companyAddress1" ><%= @fake_quotation.companyAddressOne.html_safe  %>,</h4> 
        <h4 class="companyAddress2" ><%= @fake_quotation.companyAddressTwo.html_safe  %>.</h4>
    </div>
    <div  class="referenceNumber">Reference Number : <%= @fake_quotation.referenceNumber %>
    <div class="dated" data-mercury="simple" id="fakeQuotation_date"><%= @fake_quotation.date %></div>
    </div><br><br>

    <!--  Template content part starts -->

    <div class="contentPart">
        <div class="contentsToStatement" >To</div>
        <div class="details"><%= @client_detail.designation.html_safe  %>, <br><%= @client_detail.nameOfBank.html_safe  %>, <br> <%= @client_detail.address.html_safe  %>, <br><%= @client_detail.district.html_safe  %>
        </div>
        <div  class= "subject" data-mercury="simple" id="fakeQuotation_subject"><%= @fake_quotation.subject.html_safe  %></div>
        <div class="regards" data-mercury="simple" id="fakeQuotation_regard"><%= @fake_quotation.regard.html_safe  %></div>
        <div class="regardContent" data-mercury="simple" data-type="editable" id="fakeQuotation_regardContent"><%= @fake_quotation.regardContent.html_safe  %></div><br>
    </div>

    <!--  Banks Names Start Here -->

    <div class="banks" >
        <table class="tg">
          <tr>
            <th class="tg-hgcj">Bank</th>
            <th class="tg-hgcj">Location</th>
          </tr>
          <tr>
            <td class="tg-e3zv">Allahabad Bank : Ludhiana Zone</td>
            <td class="tg-031e" data-mercury="simple" id="fakeQuotation_bankZoneOne"><%= @fake_quotation.bankZoneOne.html_safe %></td>
          </tr>
          <tr>
            <td class="tg-e3zv">Allahabad Bank : Amritsar Zone</td>
            <td class="tg-031e" data-mercury="simple" id="fakeQuotation_bankZoneTwo"><%= @fake_quotation.bankZoneTwo.html_safe %></td>
          </tr>
          <tr>
            <td class="tg-e3zv">Oriental Bank of Commerce</td>
            <td class="tg-031e" data-mercury="simple" id="fakeQuotation_bankNameTwo"><%= @fake_quotation.bankNameTwo.html_safe %></td>
          </tr>
          <tr>
            <td class="tg-e3zv">Bank of Baroda</td>
            <td class="tg-031e" data-mercury="simple" id="fakeQuotation_bankNameThree"><%= @fake_quotation.bankNameThree.html_safe %></td>
          </tr>
          <tr>
            <td class="tg-e3zv">The Federal Bank Limited</td>
            <td class="tg-031e" data-mercury="simple" id="fakeQuotation_bankNameFour"><%= @fake_quotation.bankNameFour.html_safe %></td>
          </tr>
          <tr>
            <td class="tg-e3zv">Central Bank of India</td>
            <td class="tg-031e" data-mercury="simple" id ="fakeQuotation_bankNameFive"><%= @fake_quotation.bankNameFive.html_safe %></td>
          </tr>
        </table><br>
    </div>


    <!-- Quotations -->
    <div class="quotations" >  
        <h4 class="quotationLine" data-mercury="simple" id="fakeQuotation_quotationLine"><%= @fake_quotation.quotationLine.html_safe  %></h4>
        <ul class="quotationsList" style="list-style-type:none" data-mercury="full" id="fakeQuotation_quotationRateList">
            <%= raw @fake_quotation.quotationRateList %>
        </ul>
         <br>
        <h4 class="serviceTax">(Plus Service tax is applicable)</h4>
    </div>

    <!-- Content of 10% increment-->

    <div class="secondPageContent">
        <p class="contentPartOne" data-mercury="simple" id="fakeQuotation_contentPartOne"><%= @fake_quotation.contentPartOne.html_safe %></p><br><br>
        <p class="contetnPartTwo" data-mercury="simple" id="fakeQuotation_contentPartTwo"><%= @fake_quotation.contentPartTwo.html_safe %></p><br><br>
        <p class="thankYou" data-mercury="simple" id="fakeQuotation_thankYou"><%= @fake_quotation.thankYou.html_safe %></p><br><br>
        <p class="yoursTruly" data-mercury="simple" id="fakeQuotation_yoursTruly"><%= @fake_quotation.yoursTruly.html_safe  %></p><br><br>
        <p class="nameOfCompany" data-mercury="simple" id="fakeQuotation_nameOfCompany"><%= @fake_quotation.nameOfCompany.html_safe  %></p><br>
        <p><%= image_tag(@sender_detail.signature.url(:med))%></p><br><br>
        <p class="name"><%= @sender_detail.name.html_safe  %></p><hr class="nameHrLine">
        
        <div class="phoneNumbers" style="float:left;">
            <p class="contactNumberOne" data-mercury="simple" id="fakeQuotation_contactNumberOne"><%= @fake_quotation.contactNumberOne.html_safe %></p>
            <p class="contactNumberTwo" data-mercury="simple" id="fakeQuotation_contactNumberTwo"><%= @fake_quotation.contactNumberTwo.html_safe %></p>
            <p class="contactNumberThree" data-mercury="simple" id="fakeQuotation_contactNumberThree"><%= @fake_quotation.contactNumberThree.html_safe %></p>
        </div>

        <div class="emails" style="float:right; color:blue;">
            <p class="emailIdOne" data-mercury="simple" id="fakeQuotation_emailIdOne"><%= @fake_quotation.emailIdOne.html_safe %></p>
            <p class="emailIdTwo" data-mercury="simple" id="fakeQuotation_emailIdTwo"><%= @fake_quotation.emailIdTwo.html_safe %></p>            
            <p class="emailIdThree" data-mercury="simple" id="fakeQuotation_emailIdThree"><%= @fake_quotation.emailIdThree.html_safe %></p>
            <p class="emailIdFour" data-mercury="simple" id="fakeQuotation_emailIdFour"><%= @fake_quotation.emailIdFour.html_safe %></p>
        </div>      
    </div>

</section>
