
<% 
    genID = ''
    genType = ''
    thirdPartyRent = ''
    rent_for_left_days = '' 
    date = DateTime.now.to_date
%>

<div>
  <br> <% if date.month.to_i > @gen_set.approveMonth.to_i || date.year.to_i > @gen_set.approveYear.to_i %>
	<% rent_for_left_days = @gen_set.genRent %>
	<% elsif date.month.to_i == @gen_set.approveMonth.to_i && date.year.to_i == @gen_set.approveYear.to_i %>
    <% number_of_days = date.end_of_month.day.to_i - @gen_set.approveDate.to_i %>
    <% rent_for_left_days = (@gen_set.genRent/date.end_of_month.day.to_i) * number_of_days %>
	<% end %>
    <% 
        if( !@gen_set.gen_avail.blank? )
          genID = @gen_set.gen_avail.gen_detail.genType
          genType = @gen_set.gen_avail.genID
        elsif( !@gen_set.third_party_gens_id.blank? )
          @third_gen = ThirdPartyGen.find(@gen_set.third_party_gens_id)
          genID = @third_gen.genID
          genType = @third_gen.genType
          thirdPartyRent = @third_gen.genRent
        end
    %>
    <% if( !thirdPartyRent.blank? ) %>
      <br> Third Party Generator Detail <br>
      Generator Rent: <%= thirdPartyRent %> <br>
    <% end %>
</div>
<br><label class="name-center"><span>Month: <%= Date::MONTHNAMES[date.month] %></span></label>
<div>
  <br>
   
    <%
        # Calculating Cleint's Rent including tax
      genRent = rent_for_left_days.to_i
      serviceTax = (genRent.to_s.to_d * @gen_set.serviceTax.to_s.to_d) / 100
      surcharge = (serviceTax.to_s.to_d * @gen_set.eduTax.to_s.to_d) / 100
      total = genRent + serviceTax + surcharge

      # Calculation Sender's profit/loss on monthly basis

    %>

</div>
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset='UTF-8'>

	<title>Amrit Engineers - Bill Template</title>

	<link rel='stylesheet' href='style.css'>

</head>

<body>

	<div id="page-wrap">
                <div>
                        <img class="logo" src="../logo.png">
                </div>
                
                <div id="monthly-bill-heading">
                        Monthly Bill
                </div>
                
                <div id="date-and-bill">
                        Date: 1 Jan 2015<br>
                        Bill No.: 6456245543<br>
                </div>
                
                <hr id="line1" width="950">


		<div id="customer">

                        <div id="client-label">
                                Client
                        </div>
                        
                        <div id="client-details">
                                <div id="client-name">
                                        <b> Bank of America</b><br>
                                </div>
                                
                                <div id="client-address">
                                        1 Lombard Street,
                                        San Franscisco, CA, USA.
                                </div>
                        </div>

    <!--hr id="line2" width="950"-->


            <!--table id="meta">
                <tr>
                    <td class="meta-head">Invoice #</td>
                    <td><textarea>000123</textarea></td>
                </tr>
                <tr>

                    <td class="meta-head">Date</td>
                    <td><textarea id="date">December 15, 2009</textarea></td>
                </tr>
                <tr>
                    <td class="meta-head">Amount Due</td>
                    <td><div class="due">$875.00</div></td>
                </tr>

                </table-->

                        <div id="service-tax">
                                Service Tax Number:<br> APRPK1196BSD001
                        </div>

		</div>

		<table id="items">

		  <tr>
		      <th class="description">Description</th>
		      <th class="rate">Rate</th>
		      <th class="qty">Quantity</th>
		      <th class="price">Price</th>
		  </tr>

		  <tr class="item-row">
		      <td class="description">5kVA sound proof automatic Kirloskar generator</td>
		      <td class="rate">15500/-</td>
		      <td class="qty">1</td>
		      <td class="price">15500/-</td>
		  </tr>

		  <tr class="item-row1">
		      <td class="description">&nbsp;</td>
		      <td class="rate">&nbsp;</td>
		      <td class="qty">&nbsp;</td>
		      <td class="price">&nbsp;</td>
		  </tr>

		  <tr class="item-row">
		      <td class="description">&nbsp;</td>
		      <td class="rate">&nbsp;</td>
		      <td class="qty">&nbsp;</td>
		      <td class="price">&nbsp;</td>
		  </tr>

		  <tr class="item-row1">
		      <td class="description">&nbsp;</td>
		      <td class="rate">&nbsp;</td>
		      <td class="qty">&nbsp;</td>
		      <td class="price">&nbsp;</td>
		  </tr>

		  <tr class="item-row">
		      <td class="description">&nbsp;</td>
		      <td class="rate">&nbsp;</td>
		      <td class="qty">&nbsp;</td>
		      <td class="price">&nbsp;</td>
                  </tr>

                <tr class="item-row1">
		      <td class="description">Gen Rent</td>
		      <td class="rate">&nbsp;</td>
		      <td class="qty">&nbsp;</td>
		      <td class="price"><%= genRent %></td>
                </tr>

                <tr class="item-row">
		      <td class="description">Service tax</td>
		      <td class="rate">12%</td>
		      <td class="qty">&nbsp;</td>
		      <td class="price"><%= serviceTax %></td>
                </tr>

                <tr class="item-row1">
		      <td class="description">Surcharge</td>
		      <td class="rate">03%</td>
		      <td class="qty">&nbsp;</td>
		      <td class="price"><%= surcharge %></td>
		</tr>

                <tr class="grand-total-item-row">
                        <td class="description">Grand total</td>
		      <td class="rate">&nbsp;</td>
		      <td class="qty">&nbsp;</td>
		      <td class="price"><%= total %></td>
		  </tr>

          </table>

          <div id="person-name">
                  Jasvir Singh Sond
          </div>

          <div id="designation">
                  (Authorized Signatory)
          </div>

        <div class="bottom">
                <div class="address">
                        <b>Head Office:</b> # 1380, St. No. 31, Janta Nagar
                        , Bhagwan Chowk, Near Public Health Center, Ludhiana-141003. Punjab<br>
                        <b>Sub Office:</b> # 48, Wadda Gurdwara Sahib Market,
                        Opp. G.N.E, College, Near Octroi Post, Gill Road, Ludhiana
                </div>
        </div>
	</div>

</body>

</html>
