<%= render 'welcome/header' %> <br><br><br><br><br>

<div class="container">
<h2 class="table-heading">Generator Types</h2>
<%= button_to 'Add Type & Rent', gendetails_path, {:class => "new-sender"} %> <br>

<!-- Generator Type And Rent Table -->
<table id="generatorTypeAndRent" class="display responsive no-wrap">
  <thead>
    <tr>
      <th> Generator Type </th>
      <th> Generator Rent </th>
      <th> Edit Gen Details </th>
      <th> Delete Gen Details </th>
    </tr>
  </thead>

  <tbody>
    <% @gen_details.each do |gen_detail| %>
      <% @gen_avail = GenAvail.where(gen_detail_id: gen_detail.id) %>
        <tr>
          <td><%= gen_detail.genType %></td>
          <td><%= gen_detail.genRent %></td>
          <td><%= link_to 'Edit', edit_gen_detail_path(gen_detail) %></td>
          <td><%= link_to 'Destroy', gen_detail, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table><br><br>

<!-- Generator ID Table -->

<h2 class="table-heading">Available Generators</h2>
<%= button_to 'Add Generator', availableGenerators_path, {:class => "new-sender"} %> <br>
<table id="generatorID" class="display responsive no-wrap">
  <thead>
    <tr>
      <th> Generator Type </th>
      <th> Generator ID </th>
      <th> Available </th>
      <th> Edit </th>
      <th> Delete </th>
    </tr>
  </thead>
  <tbody>
    <% @gen_details.each do |gen_detail| %>
      <% @gen_avail = GenAvail.where(gen_detail_id: gen_detail.id) %>
        <tr>
          <td><%= gen_detail.genType %></td>
          <td>
            <% @gen_avail.each do |gen_avail| %>
              <%= gen_avail.genID %>
              <br>
            <% end %>
          </td>
          <td>
            <% @gen_avail.each do |gen_avail| %>
            <% 
              available = ''
              if (gen_avail.available == true)
                available = "Yes"
              else
                available = "No"
              end
            %>
              <%= available %>
            <br>
          <% end %>
        </td>
        <td>
          <% @gen_avail.each do |gen_avail| %>
            <%= link_to 'Edit', edit_gen_avail_path(gen_avail) %>
            <br>
          <% end %>
        </td>
        <td>
          <% @gen_avail.each do |gen_avail| %>
            <%= link_to 'Destroy', gen_avail, method: :delete, data: { confirm: 'Are you sure?' } %>
            <br>
          <% end %>
        </td>
        </tr>
      <% end %>      
  </tbody>  
</table>
</div>
<script>
    $(document).ready(function() {
    $('#generatorTypeAndRent').dataTable({
      responsive: true
    });
  } );
</script>

<script>
    $(document).ready(function() {
    $('#generatorID').dataTable({
      responsive: true
    });
  } );
</script>
