<%= render 'welcome/header' %> <br><br><br><br><br>

<div class="container">
<h2 class="table-heading">Real Quotations</h2>



<table id="realQuotations" class="display responsive no-wrap">

  <thead>
    <tr>
      <th>Sender Name</th>
      <th>Bank Name</th>
      <th>District</th>      
      <th>Contact Number</th>
      <th>Email ID</th>
      <th>Show Quotations</th>
      <th>Edit Client</th>
      <th>Approve</th>    
      <th>Contract</th> 
    </tr>
  </thead>  

  <tbody>
  <% @sender_details.each do |s| %>
    <% if s.quotationType == "Real" %>
      <% @client_details = ClientDetail.where(sender_details_id: s.id) %>
      <% @client_details.each do |f| %>    
        <tr>
          <td><%= s.name %></td>
          <td><%= f.nameOfBank %></td>
          <td><%= f.district %></td>      
          <td><%= f.contactNo %></td>
          <td><%= f.emailID %></td> 
          <td><%= link_to "Show", "/quotations/" + f.id.to_s %></td>
          <td><%= link_to "Edit", client_detail_path(f.id) + "/edit"  %></td>    
          <% if f.approved == true %> 
            <td>Approved</td>
          <% else %>
            <td><%= button_to 'E-mail Pending', "/approved" + quotation_detail_path(f.id) %></td>
          <% end %>      
          <% if f.contract == true %>
            <td><%= button_to  'Close', "/closed" + client_detail_path(f.id) %></td> 
          <% else %>
            <td><%= button_to "Open", "/opened" + client_detail_path(f.id) %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  <% end %>  
  </tbody>

</table> <br><br>
<h2 class="table-heading">Fake Quotations</h2>


<table id="fakeQuotations" class="display responsive no-wrap">

  <thead>
    <tr>
      <th>Sender Name</th>
      <th>Bank Name</th>
      <th>District</th>      
      <th>Contant Number</th>
      <th>Email ID</th>
      <th>Show Quotations</th>
      <th>Edit Client</th>
    </tr>
  </thead>  

  <tbody>
  <% @sender_details.each do |s| %>
    <% if s.quotationType == "Fake" %>
      <% @client_details = ClientDetail.where(sender_details_id: s.id) %>
      <% @client_details.each do |f| %>    
         <% 
          @fake_qtn = FakeQuotation.where(client_details_id: f.id)
          qtn_id = ''
          @fake_qtn.each do |q|
            qtn_id = q.id
          end
        %>
      <tr>
        <td><%= s.name%></td>          
        <td><%= f.nameOfBank %></td>
        <td><%= f.district %></td>      
        <td><%= f.contactNo %></td>
        <td><%= f.emailID %></td> 
        <td><%= link_to "Show", "/fake_quotations/" + qtn_id.to_s %></td>
        <td><%= link_to "Edit", client_detail_path(f.id) + "/edit"  %></td>
        <% end %>  
      </tr>
    <% end %>  
  <% end %>
  </tbody>

</table>
</div>


<script>
    $(document).ready(function() {
    $('#realQuotations').dataTable({
      responsive: true
    });
  } );
</script>

<script>
    $(document).ready(function() {
    $('#fakeQuotations').dataTable({
      responsive: true
    });
  } );
</script>
