<%= render 'welcome/header' %><br><br><br><br><br>

<section class="approved">
	<h2 class="gen-head">Generator and Gaurd Details</h2><br><br>
  <%= form_for :client_gen_set ,url: {action: "create"}, :html => {:class => "approvedForm"} do |f| %>
    <%= f.hidden_field :client_detail_id, :value => params[:id] %>

    <% date = DateTime.now.to_date %>
    <%= f.hidden_field :approveDate, :value => date.day %>
    <%= f.hidden_field :approveMonth, :value => date.month %>
    <%= f.hidden_field :approveYear, :value => date.year %>
	  <br>
    <%= f.label :gen_detail_id, "Generator Type" %>
    <%= f.select :gen_detail_id, @aArray, {}, {:onchange => "genSelected();"}%>
    <br>
    <%= f.label :gen_avail_id, "Available Generator" , :class => "gen_avail"%><br>
    <%= f.collection_select :gen_avail_id, GenAvail.all, :id, :genID, {prompt: true}, {autofocus: true, :class => 'gen_avail'} %>
    <br>
    <%= f.label :third_party_provider_id, "Third Party Provider", :class => 'third q-label' %>
    <%= f.collection_select :third_party_provider_id, ThirdPartyProvider.all, :id, :name, {prompt: true}, {autofocus: true, :class => 'dropDown third q-option'} %> 
    
    <%= fields_for :third_party_gens do |t| %>
	<%= t.label :genRent, "Third party Generator Rent", :class => 'third' %>
	<%= t.text_field :genRent, :class => 'third' %>
    <% end %>
    <br>
    <%= f.label :genRent, "Generator Rent" , :class => ""%>
    <%= f.text_field :genRent, :class => ""%>
    <br>
    
    <% list = @taxesLabel.zip(@taxesPercentage) %>
    <% list.each do |l, p| %>
	<% if l == "Service Tax"%>
	<%=f.label :serviceTax, "Service Tax" %> 
	<%= f.text_field :serviceTax, :value => p %><br>
	<% end %>
	
	<% if l == "Education Tax" %>
	<%= f.label :eduTax, "Surcharge/Education Tax" %>
	<%= f.text_field :eduTax, :value => p %><br>
	<% end %>
    <% end %>
    <br>
    <%= fields_for :gaurd_detail do |g| %> 
    <%= g.label :name, "Gaurd Name" %>
    <%= g.text_field :name %>
    <%= g.label :contactNo, "Contact No" %>
    <%= g.text_field :contactNo %>
    <%= g.label :monthlySalary, "Monthly Salary" %>
    <%= g.text_field :monthlySalary %>
    <% end %>
     <br> 

  	<br><%= submit_tag "Submit", :id => "submit", :name => "submit", :class => "form_submit", :disabled => false, :disable_with => "Please wait..." %>
  <% end %>
</section>
<script type="text/javascript">
	var gen_avails = new Array();
	var gen_details = new Array();
	var qtn_rents = new Array();
	$('.third').css({"display":"none"});
	<% @gen_avails = GenAvail.all %>
	<% @gen_details = GenDetail.all %>
	<% @qtn_rents = QuotationRent.all %>
<%  @gen_avails.each do |avail| %>
	gen_avails.push(new Array("<%=  avail.gen_detail_id %>"," <%=  avail.genID %> ", "<%= avail.id %>", "<%= avail.available %>"));

<%  end %>
<% @gen_details.each do |detail| %>
	gen_details.push(new Array("<%= detail.id %>","<%= detail.genRent %>","<%= detail.genType %>"));
<% end %>
var type;
var rent;
<% @qtn_rents.each do |rent| %>
 	type = "<%= rent.genType %>".split(',');	
	rent = "<%= rent.genRent %>".split(',');

<% end %>

var gen_id, options;
function genSelected() {
	
	$('.third').css({"display":"none"});
	$('.gen_avail').css({"display":"block"});
	 gen_id = $('#client_gen_set_gen_detail_id').val();

	$('#client_gen_set_gen_avail_id').find('option').remove();
	$.each(gen_details, function(i, gen_detail){
		if(gen_id == gen_detail[2]){
			$.each(gen_avails, function(j, gen_avail){
				if(gen_detail[0] == gen_avail[0] && gen_avail[3] == 'true'){
					$('#client_gen_set_gen_avail_id').append("<option value="+gen_avail[2]+">"+gen_avail[1]+"</option>");
					$('select#client_gen_set_gen_avail_id').css({"width":"100px","margin":"auto"});
				}
			});
		}
	});
					
		
	if(!($('#client_gen_set_gen_avail_id').val())){
			$('.gen_avail').css({"display":"none"});
			$('.third').css({"display":"block"});
			$('q-submit').css({"margin-top":"40px"});
	}
	
	$.each(gen_details, function(i, gen_detail){
		if(gen_id == type[i]) {
			$('#client_gen_set_genRent').val(rent[i]);
		}
	});
}
</script>
