
    <%= render "welcome/header"  %>
<%= form_for(@third_party_provider) do |f| %>
  <% if @third_party_provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@third_party_provider.errors.count, "error") %> prohibited this third_party_provider from being saved:</h2>

      <ul>
      <% @third_party_provider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<section class="quotationSection">
    <div class="quotationForm">
    <h2 class="fillForm">Third Party Providers</h2>

 <label class="ll">Name </label>  <%= f.text_field :name, autofocus: true, :required => true, :class => 'nameOfBank', :placeholder => 'Name',:title => 'Name of Bank' %><br>
 <label class="ll">Address   </label>  <%= f.text_field :address, autofocus: true, :required => true, :class => 'address', :placeholder => 'Address', :title => 'Address' %><br>
 <label class="ll">Contact No.      </label>    <%= f.text_field :contactNo, autofocus: true, :required => true, :class => 'contactNumber', :placeholder => 'Contact Number', :title => 'Contact Number' %><br><br>
          <p style="text-align: center;"><%= f.submit :class => 'quotation_submit', :value => 'Submit', :disabled => false, :disable_with => "Please wait..." %></p><br>

    </div> 
</section>
<% end %>
