@import "layout";

.header {
    width: 100%;
    height:50px;
    position: absolute;
    background: $mainblue;
    .navbar {
        width: 100%;
        max-width: 1100px;
        margin-top: auto;
	height:50px;
        .unlist1 {
		margin-left:45%;
            li {
                float: left;
                width: 20%;
                text-align: center;
                line-height: 48px;
                font-size: 18px;
                font-weight: 400;
                color: $white;
                @include breakpoint(alpha){width:28%; line-height: 40px; font-size: 1.2rem;};

             }
	
	    li a{
		color:$white;
		@include transition(border-color 1s ease);
		&:hover{border-bottom: 1px solid $offwhite;}
	    }
        }
    }
}

.quotationHeader {
    @extend .header;
}

