
@import "layout";
body {
  background-color: #fcfcfc;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

header a {
  color:#fff;
  &:hover {
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  border:solid 1px #f00;
  input.common {
	margin:0;
  } 
}

#error_explanation {
  width: 450px;
  padding: 2px;
  padding-bottom: 0;
  border:solid 1px red;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
	padding:2px;
  }
}

.preloader{
    background: url($loader-image) center no-repeat;    
	height:150px;
	display:none;
}
.table-heading{
            text-align: center;
            font-size: 32px;
	    font-family:arial;
	    word-spacing:1px;
	    padding-bottom:10px;
}
.dataTables_wrapper {
	width:100%;
	margin:auto;
	font-family:arial;
}
.dataTables_filter {
	label{
		font-family:arial;
	}
	input{
	}
}
.dataTables_length{
	label{
		font-family:arial;
	}
}
.dataTable {
	border:2px solid #E3DDDD;
	border-radius:2px;
}
.dataTable  th{
font-size:18px;
text-align:center;
line-height: 1.4;
}

.dataTable  td{ 
font-size:16px;
text-align:center; 
line-height: 1.4;
}




.name-center {
	text-align:center;
	label{
		font-size:24px;
	}
	span{
		font-weight:700;
	}
}
.label-center {
	width:350px;
	margin:auto;
	line-height:1.5;
	label{
		font-size:24px;
	}
	span{
		font-weight:400;
		color:#c64740;
	}
}
.gen_expense_form{
	width:500px;
	margin:auto;
}

/* CSS of "showing x to y of z entries" */

#senderDetails_info, #generatorTypeAndRent_info, #generatorID_info,
#realQuotations_info, #fakeQuotations_info, #thirdPartyProvider_info,
#taxes_info, #genExpensesShow_info {
font-family: arial;
font-size: 19px;
color: #666666;
}

#senderDetails_paginate, #generatorTypeAndRent_paginate, 
#generatorID_paginate, #realQuotations_paginate, 
#fakeQuotations_paginate, #thirdPartyProvider_paginate, 
#taxes_paginate, #genExpensesShow_paginate {
font-family: arial;
font-size: 19px;
color: #666666;
padding-bottom: 40px;
}
