@import "layout";

.landingPage {
    height: 100%;
    position: relative;
    overflow: hidden;
    background: url($landing-image) center no-repeat;
    @include background-size(cover);
  
    @extend .content;
 
    .main-heading {
        color:$white;
        text-align:center;
        font-weight:400; 
        padding-bottom: 0.8rem;
        @include breakpoint(alpha){padding-top:4rem; font-size:2.6rem;}
        @include breakpoint(beta){padding-top:4.5rem; font-size:3.6rem;}
        @include breakpoint(gamma){padding-top:6rem; font-size:5rem;}
        @include breakpoint(delta){padding-top:5.9rem; font-size:5.8rem;}
        @include breakpoint(epsilon){padding-top:6.0rem; font-size:6.4rem;}  
    }
    .tagline1 {
        text-align: center;
        color: $rose;
        padding-bottom: 0.7rem;
        @include breakpoint(alpha){font-size: 2.1rem; font-weight: 200};
        @include breakpoint(beta){font-size: 2.5rem; font-weight: 200};
        @include breakpoint(gamma){font-size: 2.8rem; font-weight: 400;};
        @include breakpoint(delta){font-size: 3.2rem; font-weight: 400;};
        @include breakpoint(epsilon){font-size: 3.2rem; font-weight: 400;};
    }  
    .tagline2 {
        text-align: center;
        color: $rose;
        padding-bottom: 0.7rem;        
        @include breakpoint(alpha){font-size: 1.8rem; font-weight: 200};
        @include breakpoint(beta){font-size: 2.2rem; font-weight: 200};
        @include breakpoint(gamma){font-size: 2.5rem; font-weight: 400;};
        @include breakpoint(delta){font-size: 2.7rem; font-weight: 400;};
        @include breakpoint(epsilon){font-size: 2.7rem; font-weight: 400;};        
    }
    .tagline3 {
        text-align: center;
        color: $rose;
        @include breakpoint(alpha){font-size: 2.1rem; font-weight: 200; padding-bottom: 2rem;};
        @include breakpoint(beta){font-size: 2.5rem; font-weight: 200; padding-bottom: 2rem;};
        @include breakpoint(gamma){font-size: 2.8rem; font-weight: 400; padding-bottom: 4rem;};
        @include breakpoint(delta){font-size: 3.2rem; font-weight: 400; padding-bottom: 4rem;};
        @include breakpoint(epsilon){font-size: 3.2rem; font-weight: 400; padding-bottom: 4rem;};        
    }
    .enter {
        text-align:center;
        font-size: 2.2rem;
        font-weight: 200;
        background: rgba(19, 20, 24, 0.5);
        border: 2px solid $rose;
        border-radius: 15px;
        width: 250px;
        height: 63px;
        color: white;    
        curson: pointer;
        @include breakpoint(alpha){width: 200px; height: 54px; font-size: 1.8rem};  
        @include transition(background 0.50s ease-in-out);
        &:hover {
            background: $americanRose;
        }
    }        
}